.ClockNumber {
  background-color: #575e7ad8;
  box-shadow: 2px 2px 4px #2B2B2B inset;
  height: auto;
  width: 4rem;
  padding: 8px 4px;
  border-radius: 10px;
  text-align: center;

  @media screen and (min-width:1280px) {
    width: auto;
  }
}

.ClockDivision {
  height: auto;
 
}